body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #3f5241;
}

h1 {
    color: #333;
}

#counter {
    font-size: 32px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #125014;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #125014;
}
